/* ======== Registration and Login page ============ */
:root {
    --bg-color: #0081C9;

}

.registration {
    height: 100vh;
    padding: 50px 0px;
    width: 100%;
    background-color: var(--bg-color);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-registration {
    background-color: white;
    padding: 30px 60px;
    border-radius: .5rem;
    flex-direction: column;

}

.inner-registration>form {
    width: 350px;
}

.inner-registration>p {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.avatar-label {
    display: flex;
    font-size: 16px;
    gap: 20px;
    color: #212529;
    font-weight: 400;
    align-items: center;

}

.preview-image {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 6px;

}

.preview-image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

/* ========================== Home ============================== */

.home {
    width: 100%;
    height: 100vh;
    padding: 50px 100px;
    background-color: var(--bg-color);
}

.inner-home {
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 16px;
    display: flex;
    overflow: hidden;
}